{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<main class="my-20 mt-10 w-full flex justify-center items-center text-gray-700">

<div class = "login border border-slate-700 rounded-lg mx-4">

    <div class="flex items-center justify-center rounded-tl-lg rounded-tr-lg  text-slate-800 font-bold text-xl py-4 bg-gray-100">
		<h5>Register</h5>
	</div>

    <form method="POST" action="" class=" p-8 py-2 bg-white rounded-b-lg">
        {% csrf_token %}
        <section class="flex flex-col w-full justify-center py-2">
            <div class="flex flex-col">
                <label for="id_username">Username: </label>
				<input class="mt-1 border p-2 border-slate-700 rounded-md" type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
				<span class="helptext text-[12px]">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
			</div>
                    
            <div class="flex flex-col">
                <label for="id_password1">Password:</label>
				<input class="mt-1 border p-2 border-slate-700 rounded-md" type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
				<span class="helptext text-[12px]">
					<ul>
						<li>
							Your password can’t be too similar to your other personal information.
						</li>
						<li>
							Your password must contain at least 8 characters.
						</li>
						<li>
							Your password can’t be a commonly used password.
						</li>
						<li>
							Your password can’t be entirely numeric.
						</li>
					</ul>
				</span>
			</div>
			<div class="flex flex-col">
                <label for="id_password2">Confirm Password:</label>
				<input class="mt-1 border p-2 border-slate-700 rounded-md" type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
				<span class="helptext text-[12px]">Enter the same password as before, for verification.</span>
            </div>			
                <input class="btn mt-4 bg-gray-800" type="submit" value="Register"></td>
        </section>
		
		{% if messages %}
		<div class="px-2 md:px-8 py-2 bg-white rounded-br-lg rounded-bl-lg text-red-400 font-bold">
			<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}     
    </form>
</div>
</main>

{% endblock content %}