{% extends 'base.html' %}

{% block content %}
<script src="https://cdn.tailwindcss.com"></script>
<main class="max-w-screen min-h-screen flex justify-center">
<div class="w-[90vw] md:w-[60vw] relative mt-10">
<h5 class="text-3xl">Halo, <span>{{nama}}</span> </h5>

{% if size %}
	<div id="card-place" class="w-full my-4 flex flex-col items-center gap-y-4">
	</div>
{% else %}
<p class="text-2xl text-slate-700 font-bold text-center my-20"> Kamu belum punya todo list, yukk mulai buat!</p>
{% endif %}
<div class="w-full flex justify-center mt-10">
	<label for="create-task-modal" class="px-4 py-2 rounded-md border border-gray-800 hover:bg-gray-200 cursor-pointer">Buat todo!</label>
</div>
<button class="text-center"></button>
</div>



<!-- The button to open modal -->

<!-- Put this part before </body> tag -->
<input type="checkbox" id="create-task-modal" class="modal-toggle" />
<div class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <form id="form-create" method="POST" action="" class="flex flex-col items-center relative">
	<label id="close-create-task-modal" for="create-task-modal" class=" text-gray-600 absolute -right-0 -top-2 text-3xl cursor-pointer hover:text-red-500 transition duration-100">x</label>
	
	{% if messages %}  
	<div class="w-full my-2 text-gray-700">
        <ul>   
            {% for message in messages %}  
			<div class="alert alert-info shadow-lg py-2">
			  <div>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
				<span>{{message}}</span>
			  </div>
			</div> 
			{% endfor %}  
        </ul> 
	</div>
    {% endif %}
	<div class="gap-y-3 ">
	{% csrf_token %}
		
		<h1 class="font-bold text-xl text-gray-700 text-center">Create todo</h1>  

        <div class="flex flex-col items-start gap-y-1 w-full"> 
			<label for="id_title">Title</label>
            <input class="input input-bordered input-warning w-full max-w-x" type="text" name="title"  maxlength="50" required="" id="id_title"/>
        </div>
		<div class="flex flex-col items-start gap-y-1 w-full">  
            <label for="id_description">Description</label>
			<textarea class="textarea textarea-bordered w-full" name="description" cols="40" rows="10" maxlength="1000" required="" id="id_description"></textarea>
        </div>
	
	</div>
	<input id="submit-button" class="btn w-[100px] mt-4 border border-slate-800 hover:bg-gray-200 text-gray-800" type="submit" name="submit" value="Create"></td>
	</form>
  </div>
</div>

<script>

function createCard(data){
	const placeholder = $("#card-place");
	placeholder.empty();
	
	data.forEach(function(task) {
		
		appendCard(task);
	
	});
};
</script>
<script>

function appendCard(task){
	const placeholder = $("#card-place");
	placeholder.append(
		
		
		`<div id="task-${task.pk}" class="card w-full lg:w-[500px] bg-base-100 shadow-xl transform transition hover:scale-105 hover:bg-opacity-70 duration-200 cursor-pointer">
		  <div class="card-body p-4 md:p-6 relative">
		  <label for="${task.pk}" class=" text-xl text-red-500 absolute right-2 top-2 md:right-5 md:top-4 px-3 py-1 hover:bg-gray-200 rounded-md transition duration-100 cursor-pointer">X</label>
			<h2 class="card-title text-[18px] md:text-xl">${task.fields.title}</h2>
			<p class="font-bold text-gray-600 text-[12px]">${task.fields.date}</p>
			<p class='text-[13px] md:text-[15px]'>${task.fields.description}</p>
			${task.fields.is_finished ? `<svg class="w-6 h-6 text-violet-600 absolute left-2 botton-2 md:left-5 md:bottom-6" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
				width="48" height="48"
				viewBox="0 0 24 24"
				style=" fill:#000000;">    <path d="M 12 2 C 6.486 2 2 6.486 2 12 C 2 17.514 6.486 22 12 22 C 17.514 22 22 17.514 22 12 C 22 10.874 21.803984 9.7942031 21.458984 8.7832031 L 19.839844 10.402344 C 19.944844 10.918344 20 11.453 20 12 C 20 16.411 16.411 20 12 20 C 7.589 20 4 16.411 4 12 C 4 7.589 7.589 4 12 4 C 13.633 4 15.151922 4.4938906 16.419922 5.3378906 L 17.851562 3.90625 C 16.203562 2.71225 14.185 2 12 2 z M 21.292969 3.2929688 L 11 13.585938 L 7.7070312 10.292969 L 6.2929688 11.707031 L 11 16.414062 L 22.707031 4.7070312 L 21.292969 3.2929688 z"></path></svg>` : ``}
			<div class="card-actions justify-end">
			  ${task.fields.is_finished ? 
				`<a class="underline hover:no-underline text-slate-800 hover:bg-gray-200 transition duration-100 rounded-md p-2 px-2 text-[14px] md:text-[16px] " href="/todolist/update_task/${task.pk}">Mark undone</a>` :
				`<a class="underline hover:no-underline  hover:bg-gray-200 transition duration-100 rounded-md p-2 px-2"  href="/todolist/update_task/${task.pk}"}>Mark as done!</a>`}
			</div>
		  </div>
		</div>
		<input type="checkbox" id=${task.pk} class="modal-toggle" />
		<div class="modal modal-bottom sm:modal-middle">
		  <div class="modal-box flex flex-col items-center">
			<h3 class="font-bold text-lg">Deleted task can't be restored</h3>
			<h2 class=" text-lg">Are you sure?</h2>
			<div class="modal-action mt-10">
			  <button onclick="deleteTask(${task.pk})" aria="${task.pk}" class="btn bg-red-500 text-white hover:bg-red-600">delete</button>
			  <label id="toggle-delete-modal-${task.pk}" for=${task.pk} class="btn bg-white text-red-500">cancel</label>
			</div>
		  </div>
		`	
		
		)
}
</script>
<script>
function fetchData(){
	$.get(window.location.href+"json/", createCard)
}

$(document).ready(fetchData)
</script>
<script>
 $("#submit-button").click(function(e){
		e.preventDefault();
		var formData = $('#form-create').serializeArray();	
		var url = e.currentTarget.action;
		
		const cleanData = {
			"csrfmiddlewaretoken" : formData[0].value,
			"title" : formData[1].value,
			"description" : formData[2].value,
		}
		
		$.ajax({
		type: "POST",
		url: "/todolist/add/",
		//contentType: "application/json; charset=utf-8",
		data:formData,
		success: data => {
			
			window.alert("berhasil menambahkan task!");
			$("#close-create-task-modal").click();
			appendCard(data[0]);
			
		},
		dataType: "json"
		});
      });

</script>
<script>
function deleteTask(id){

	
		
	$.ajax({
	type: "GET",
	url: "/todolist/delete/" + id,
	//contentType: "application/json; charset=utf-8",
	data:null,
	success: data => console.log(data),
	dataType: "json"
	});
	
	setTimeout(function(){
		$(`#toggle-delete-modal-${id}`).click();
		$(`#task-${id}`).remove();
	}, 1000)
	
}

</script>


</main>

{% endblock content %}