{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg-gray-50" data-theme="emerald">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.clouds.min.js"></script>
        <script>
            window.addEventListener("DOMContentLoaded", () => {

                

                VANTA.CLOUDS({
                    el: "#VANTA-CLOUDS",
                    mouseControls: true,
                    touchControls: true,
                    gyroControls: false,
                    minHeight: 200.00,
                    minWidth: 200.00,
                    skyColor: 0x4196c8,
                    cloudShadowColor: 0x505664,
                    sunColor: 0xbb8b4d,
                    sunGlareColor: 0xeb7b53,
                    sunlightColor: 0xb1804f,
                    speed: 0.80,
                    backgroundAlpha : 0.0
                })

            })
        </script>
  {% block meta %}
  {% endblock meta %}
</head>

<body id="VANTA">
<div  class="navbar bg-none shadow-md">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="{% url 'todolist:show_todolist' %}">todolist</a></li>
        <li><a href="{% url 'todolist:create_task' %}">create</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl">(not)4todolist</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal p-0 gap-x-8">
      <li><a href="{% url 'todolist:show_todolist' %}">todolist</a></li>
      <li><a href="{% url 'todolist:create_task' %}">create</a></li>
    </ul>
  </div>
  <div class="navbar-end">
  {% if nama %}
    <a class="px-3 py-2 rounded-md bg-none md:border border-gray-800 md:hover:bg-red-500 font-semibold text-red-600 md:text-gray-800 transition duration-100" href="{% url 'todolist:logout_user' %}">LOGOUT</a>
  {% endif %}
  </div>
</div>
  {% block content %}
  {% endblock content %}
  <div id="VANTA-CLOUDS" class="-z-10 fixed top-0 w-screen min-h-screen"></div>
</body>

</html>