{% extends 'base.html' %}

 {% block content %}

  <h1 style="font-size:44px;font-weight:bold;">Lab 1 Assignment PBP/PBD</h1>

  <h5 style="font-size:20px;font-weight:bold;">Name: <span style="font-weight:normal;">{{full_name}}</span></h5>

  <h5 style="font-size:20px;font-weight:bold;">Student ID: <span style="font-weight:normal;">{{student_id}}</span></h5>

  <table class="table-catalog">
    <tr class="table-catalog-header">
      <th>Item Name</th>
      <th>Item Price</th>
      <th>Item Stock</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Item URL</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
	{% for item in item_list %}
	<tr class="table-catalog-data">
        <td>{{item.item_name}}</td>
        <td>Rp{{item.item_price}}</td>
        <td>{{item.item_stock}}</td>
		<td>{{item.rating}}</td>
        <td>{{item.description}}</td>
        <td><a href={{item.item_url}}>{{item.item_url}}</a></td>
    </tr>
	{% endfor %}
  </table>

 {% endblock content %}
